.note-list {
    width: 700px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.note-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.note-container {
    width: 500px;
    min-height: 100px;
    background-color: white;
    border-radius: 27px;
    padding: 21px 51px;
    box-sizing: border-box;
    margin-top: 20px;
    position: relative;
}

.note-text {
    color: #34495E;
    outline: none;
    word-break: break-all;
}

.note-mark, .note-delete, .note-edit {
    display: flex;
    justify-content: center;
    align-items: center;
    font: inherit;
    width: 100px;
    height: 40px;
    background-color: white;
    border: 2px solid #34495E;
    border-radius: 27px;
    margin-left: 10px;
    outline: none;
    transition: ease-in-out 0.3s;
    padding: 0;
    box-sizing: border-box;
}

.note-edit {
    text-decoration: none;
    color:#34495E;
}

.note-mark-marked {
    background-color: #34495E;
    color: white;
}

.button-container {
    margin-top: 20px;
    display: flex;
    width: 100%;
    justify-content: flex-end;
}
